html, body {
  height: 100%;
}

* {
  		-webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.navbar-inner{background-color: #414042;}

.navbar .navbar-brand {color:#ffffff;}
.navbar .navbar-brand:hover {color:#ffffff;}

.btn.btn-primary {
  background-color: #414042;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn-group:focus .btn.btn-primary.dropdown-toggle {
  background-color: #5E5E5E;
}

body {background-color: #F5F7F2;}

.abtcotr{text-align: justify;
	margin-top:90px;
}

.cotrdesc{
	padding-left:10px;
	margin-left:10px; 

}

.cotrimg{float:left;
padding-right: 10px;
margin-right: 10px;
border-right:1px solid #1c344d;}

.rightform{float:left;
margin-left: 20px;
width:50%;}


.leftform{float:left;
width:50%;}

.row.row-form{
	margin-bottom: 20px;
}

#addmbr{
	margin-bottom: 5px;
}

.checkbox,.radio{margin-top: 0px;}

#submit{text-align: center;}

#heading{text-align: center;
margin-bottom: -20px;}

.navbar .nav > li > a
{color:#5E5E5E;}

.nav-tabs > li.active > a{background-color:#F5F7F2;
border-bottom-color: #F5F7F2; }

.nav-tabs > li.active > a:hover{background-color:#F5F7F2;
border-bottom-color: #F5F7F2; 
color:#9B8579;}

.nav-tabs > li > a:hover{
color:#9B8579;}


#tablehead{
  border-bottom-width:2px;
border-bottom-style: dotted;
border-bottom-color: #414042;}

#tabledata{
  padding-bottom: 10px;
  border-bottom-width:1px;
  border-bottom-color: #000000;
  border-bottom-style: dotted;
  margin-top: 20px;
  margin-bottom:20px;}

#yes:hover{color:green;}

#no:hover{color:red;}

.headtitle{ font-size: :250%;
  color:#9B8579;
border-bottom-width:1px;
border-bottom-color: #cccccc;
border-bottom-style: solid;}

.data{line-height: 26px;}

#broker{border-top-width:3px;
border-top-color: orange;
border-top-style: solid;}

#message{border-top-width:3px;
border-top-color: red;
border-top-style: solid;}

#team{border-top-width:3px;
border-top-color: blue;
border-top-style: solid;}


#news{border-top-width:3px;
border-top-color: green;
border-top-style: solid;}

#company{border-top-width:3px;
border-top-color: violet;
border-top-style: solid;}
